
<div class="container">
    <div class="header">
        <h3>Welcome !</h3>
        <p>sign in to continue </p>
    </div>
    <div class="body">
        <form [formGroup]="loginform">
                <input  type="number" name="phonenumber" formControlName="phonenumber"
                    placeholder="Phone Number" id="input">
                <div id="phonenumber"
                    *ngIf="loginform.get('phonenumber')?.errors?.['required'] && loginform.get('phonenumber')?.touched">
                    Phone number is required.
                </div>
                <div id="phonenumber"
                    *ngIf="loginform.get('phonenumber')?.errors?.['pattern'] && loginform.get('phonenumber')?.touched">
                    Please enter a valid 10-digit phone number.
                </div>
                <div class="password">
                    <input type="password" type="{{ showeye ? 'text' : 'Password' }}" name="Password"
                        formControlName="Password" placeholder="password" id="input">
                    <svg (click)="eye()" *ngIf="showeye; else showblock" id="svg" xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentcolor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                    <ng-template #showblock>
                        <svg (click)="eye()" id="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="gray" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                            <path
                                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                            <path
                                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                        </svg>
                    </ng-template>

                </div>
                <div *ngIf="loginform.get('Password')?.errors && loginform.get('Password')?.touched">
                    <div id="errorpassword" *ngIf="loginform.get('Password')?.hasError('required')">* Password is
                        required.</div>
                    <div id="errorpassword" *ngIf="loginform.get('Password')?.hasError('minlength')">* Password must be
                        at least 8 characters long.</div>
                    <div id="errorpassword" *ngIf="loginform.get('Password')?.hasError('invalidPassword')">* Password
                        must contain at least one uppercase letter, one <br> lowercase letter, one number, and one
                        special character.</div>

            </div>
            <div class="showe">            <p >{{showErrors}}</p>
            </div>

            <div class="button">
                <button id="button" [disabled]="!loginform.valid" (click)="login()">LOGIN</button>
            </div>
        </form>
    </div>
    <div class="socialmedia">
        <div class="footer">
            <p>Don't have an any account ? </p>
            <p id="p" routerLink="/signup"> &nbsp;&nbsp;&nbsp;signup</p>
        </div>
    </div>
</div>