<angular-slickgrid class="container" gridId="grid1" (onGridStateChanged)="gridchanged($event)" (onAngularGridCreated)="onAngularGridCreated($event)"

[columnDefinitions]="columnDefinitions"  (onAngularGridCreated)="onAngularGrid1Created($event)" [gridOptions]="gridOptions" [dataset]="dataset"></angular-slickgrid> 


<!-- <div class="selectedRowCard" *ngIf="productnames" style="z-index: 1000; position: fixed;
 top: 0;">
    <strong style="font-size: 2.5vh;">Selected Row(s) Product Name: </strong><p>{{productnames}}</p>
  </div> -->
  
  <!-- <br>
  <br>
  <br> -->
 <!-- <div>
  <button (click)="firstPage()">First page</button>
  <button (click)="prvPage()">prev Page</button>
  <button (click)="goToPage(2)">Go to Page 2</button>
  <button (click)="nextPage()">Next Page</button>
  <button (click)="lastPage()">Last page</button>
 </div> -->