 
    <div class="header">
        <p (click)="home()"> <i class="bi bi-house-door-fill"></i> <span>Home</span> </p>
        <p (click)="productcreation()"> <i class="bi bi-people-fill"></i><span>productcreation</span></p>
        <p (click)="productupdation()"> <i  class="bi bi-bar-chart"></i><span>ProductUpdation</span></p>
        <div style="position: absolute;right: 2vw;margin-top: 2vh;" >
            <p (click)="logout()" > <i class="bi bi-box-arrow-left"></i><span>Logout</span></p>
        </div>
    </div>