<div class="header">
    <p > <i class="bi bi-house-door-fill"></i> <span>Home</span> </p>
    <p (click)="staffupdation()"> <i class="bi bi-people-fill"></i><span>RollUpdation</span></p>
    <p> <i class="bi bi-bar-chart"></i><span>Analysis</span></p>
    <p (click)="delivery()"> <i class="bi bi-truck"></i><span>Delivery</span></p>
    <p (click)="createstaff()"> <i class="bi bi-person-fill-add"></i><span>Staff</span></p>
    <div style="position: absolute;right: 2vw;margin-top: 2vh;">
        <p (click)="logout()"> <i class="bi bi-box-arrow-left"></i><span>Logout</span></p>
    </div>
</div>